[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
autopep8 = "*"
python-githooks = "*"
matplotlib = "*"

[packages]
Scrapy = "*"
nltk = "*"
textblob = "*"
tensorflow = "*"
pandas = "*"
seaborn = "*"
py-framework = {git = "git+ssh://git@github.com/jherrerotardon/py-framework.git"}

[requires]
python_version = "3.8"
